.contaner{
    background-color: var(--bg-color);
    color: var(--color4);
    font-family: serif;
    height: 100vh;
    width: 100vw;
}
.recipes{
   margin: auto;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 90vw;
}
.recipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: blueviolet;
}