.contaner{
    background-color: var(--bg-color);
    color: var(--color4);
    font-family: "IBM Plex Serif", serif;
    height: 100vh;
    width: 100vw;
}
.title{
    /* background: #000; */
    font-size: 50px;
    text-align: center;
}
.input{
    /* background:red; */
    margin: 10px auto;
    height: 5vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
input {
    background: transparent;
    width: 60vw;
    height: 4.5vh; 
    border-radius: 20px;
    color: aqua;

}
input:focus{
    border: 1px solid gray;
}
.input input textarea{
    color: aqua;
}

.recipes{
   margin: auto;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 90vw;
}
.recipe{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: blue;
}