.contaner{
    background-color: var(--bg-color);
    color: var(--color4);
    font-family: "IBM Plex Serif", serif;
    height: 100vh;
    width: 100vw;
}
.title{
    /* background: #000; */
    font-size: 50px;
    text-align: center;
}
.input{
    /* background:red; */
    border-radius: 30px;
    margin: 10px auto;
    height: 6vh;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--color4);
}
svg{
    height: 5vh;
    width: 5vw;
}
input {
    background: transparent;
    width: 50vw;
    height: 5vh; 
    color: var(--color4);
    font-size: 25px;
    border: 2px solid transparent;

}
input:checked{
    border: 2px solid red;
}

input[type="search"]::placeholder {
    color: var(--color4);
    padding: 0 30px ;
    font-size: 25px;
    opacity: .7;
 }
 

.recipes{
   margin: auto;
    background: #000;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 90vw;
}
.recipe{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    background: blue;
}